<%= form_for(@animal) do |f| %>
  <% if @animal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@animal.errors.count, "error") %> prohibited this animal from being saved:</h2>

      <ul>
      <% @animal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :genus %><br>
    <%= select_tag :taxonomy_id, options_from_collection_for_select(Taxonomy.all, :id, :genus), include_blank: true %>
  </div>

  <div class="field">
    <%= f.label :species %><br>
    <%= select_tag :species_id %>
  </div>

  <div class="field">
    <%= f.label :subspecies %><br>
    <%= f.select :subspecies_id, [] %>
  </div>
  <div class="field">
    <%= f.label :zoo_id %><br>
    <%= f.select :zoo_id, options_from_collection_for_select(Zoo.all, :id, :name) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= javascript_tag do %>
  var wrapWithOptionTags = function(element, index, array) {
    if (!element[1]) {
      array[index] = "<option value = " + element[0] + ">" + "(nominal)" + "</option>"
    } else {
      array[index] = "<option value = " + element[0] + ">" + element[1] + "</option>"
    }
  }

  var populateSpecies = function(value) {
  if (value) { 
    $.get("/taxonomies/" + value + "/species.json")
    .done(function(data){
    data.forEach(wrapWithOptionTags);
    $('#species_id').empty().append(data);
    populateSubSpecies($('#species_id').val());
    });
  } else {
    $('#species_id').empty();
    $('#animal_subspecies_id').empty();
  }
  };

  var populateSubSpecies = function(value) { 
    $.get("/species/" + value + "/subspecies.json")
    .done(function(data){
    console.log(data)
    data.forEach(wrapWithOptionTags);
    $('#animal_subspecies_id').empty().append(data);
    });
  };
  
  $('#taxonomy_id').change( function() { populateSpecies($('#taxonomy_id').val()) })
  $('#species_id').change( function() { populateSubSpecies($('#species_id').val()) })

<% end %>

 