<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @animal.name %>
</p>

<p>
  <strong><%=@animal.name_type %> Name:</strong>
  <%= @animal.scientific_name %>
</p>

<p>
  <strong>Zoo:</strong>
  <%= @animal.zoo.name %>
</p>

<%= link_to 'Edit', edit_animal_path(@animal) %> |
<%= link_to 'Back', animals_path %>
