<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @animal.name %>
</p>

<p>
  <strong>Subspecies ID:</strong>
  <%= @animal.subspecies_id %>
</p>

<p>
  <strong>Zoo:</strong>
  <%= @animal.zoo_id %>
</p>

<%= link_to 'Edit', edit_animal_path(@animal) %> |
<%= link_to 'Back', animals_path %>
