<h1>Listing subspecies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Taxonomy</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @subspecies.each do |subspecies| %>
      <tr>
        <td><%= subspecies.name %></td>
        <td><%= subspecies.species.name %></td>
        <td><%= link_to 'Show', subspecies %></td>
        <td><%= link_to 'Edit', edit_subspecy_path(subspecies) %></td>
        <td><%= link_to 'Destroy', subspecies, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Species', new_species_path %>
